/* ==UserStyle==
@name           Focus matters
@namespace      https://github.com/Small-Ku/focus-matters
@version        0.2.0-dev+007
@description    A simple user css for Matters
@author         Small-Ku <small_ku@outlook.com> (https://github.com/Small-Ku)
@license		MIT
@homepageURL	https://github.com/Small-Ku/focus-matters
@supportURL		https://github.com/Small-Ku/focus-matters/issues
@updateURL 		https://raw.githubusercontent.com/Small-Ku/focus-matters/master/focus-matters.user.styl
@preprocessor   stylus

@var			select   layoutChange    "擴大內容" [
					"focusMatters:專注內容",
					"mockOriginal:仿製原版",
					"off:關閉"
				]
@var			checkbox darkModeLook    "暗色模式"  0
@var			checkbox lookOptimize    "視覺優化"  1
==/UserStyle== */

bg-color = #121212
text-color = #fff
primary-color = #0d6763
primary-color-light = #489590
primary-color-dark = #003c39
primary-color-text = #fff
second-color = #c0a46b
second-color-light = #f4d59a
second-color-dark = #8e753f
second-color-text = #000

@-moz-document domain("matters.news")
	// 視覺優化
	// Optimize appearance
	if lookOptimize
		// 優化圓角元素的視覺平衡
		// Optimize padding of round text elements with icon
		.tag
			padding 0 0.5rem 0 0.25rem!important
		.side-nav .hasIcon.text-right .text
			padding 0 0.25rem 0 0.5rem!important
		.side-nav .hasIcon.text-right.white .text
			padding 0 0rem 0 0.5rem!important

		// 爲開關按鈕換更好的動畫
		// Optimize switch with transform instead of box-shadow and left/right
		.switch input
			& + span
				overflow hidden
				&:before, &:after
					transition transform .1s cubic-bezier(0.4, 0.0, 0.2, 1)!important
				&:before
					display block
					position absolute
					left 0
					right 0
					top 0
					bottom 0
					width 100%
					height 100%
					z-index 0
					content ""
					background-color rgb(13, 103, 99)
					transform translateX(-2.3rem)
					border-radius .75rem
				&:after
					z-index 1
			&:checked + span
				box-shadow none!important
				&:before
					opacity 1
					transform translateX(0)
				&:after 
					right auto !important
					transform translateX(1.125rem) !important

	// 擴大內容
	// Extend content in the web layout
	if layoutChange != off
		@media (min-width: 1280px)
			#__next
				& > main
					-webkit-flex-basis 100%
					-ms-flex-preferred-size 100%
					flex-basis 100%
					max-width 100%
					// 模仿原版佈局
					// Mock original layout
					if layoutChange == mockOriginal
						& > article
							max-width calc(100% - 520px) !important
							flex-basis calc(100% - 520px) !important
						& > nav
							max-width 168px !important
							padding-left 72px !important
						& > aside
							max-width 272px !important
							padding-right 72px !important
					// 自創佈局
					// Focus Matters style
					if layoutChange == focusMatters
						& > article
							max-width calc(100% - 25rem) !important
							flex-basis calc(100% - 25rem) !important
							padding 0 !important
							margin-right 2rem !important
						& > nav
							max-width 8rem
							margin 0 0 0 2rem
						& > aside
							max-width 12rem
							flex-basis 12rem
							padding-right 1rem !important
						& > aside, & > nav
							opacity 1
							transform translateX(0)
							transition opacity .25s, transform .3s
							transition-time-function cubic-bezier(0.4, 0.0, 1, 1)

		// 修復自創佈局中的卡片層級
		// Fix z-index of poped cards when searching
		.tippy-popper
			z-index 200 !important

	// 暗黑模式
	// Dark Mode
	if darkModeLook
		// Global settings
		html
			background-color bg-color
			color rgba(text-color, 0.87)

		[contenteditable]
			caret-color primary-color-light

		// HTML components
		hr
			border-color rgba(text-color, 0.08) currentcolor currentcolor

		time
			color rgba(text-color, 0.6) !important

		p
			color rgba(text-color, 0.87)

		code, kbd, samp, pre
			background-color lighten(bg-color, 5%)

		form
			input[type="search"]
				color  rgba(text-color, 0.87) !important
				border-color lighten(bg-color, 4%) !important
				background-color lighten(bg-color, 4%) !important
				&:focus
					background-color primary-color-dark !important
					border-color primary-color !important
				&::-webkit-input-placeholder,
				&::placeholder
					color rgba(text-color, .6)

		// Custom color schemes

			// Black
		.black
			color rgba(text-color, 0.87) !important

		.text-black
			color rgba(text-color, 0.87) !important

		.text-active-black:hover, .text-active-black:focus
			color bg-color

		.bg-half-black
			.hotarea
				background rgba(#fff, 0.5)
			&:hover, &:focus
				.hotarea
					background-color rgb(0, 0, 0)

			// Green
		.green
			color primary-color-light !important

		.text-green
			color primary-color-light !important

		.text-active-green
			&:hover, &:focus
				color primary-color-light !important

		.bg-green, .bg-green-lighter
			&, .green
				color rgba(primary-color-text, 0.87) !important

		.bg-green
			.hotarea
				background-color primary-color !important
		.bg-green
			&:hover, &:focus
				.hotarea
					background-color lighten(primary-color, 4%) !important

		.bg-green-lighter
			.hotarea
				background-color primary-color-dark !important
		.bg-green-lighter, .bg-active-green-lighter
			&:hover, &:focus
				.hotarea
					background-color lighten(primary-color-dark, 4%) !important

		.bg-active-green
			&:hover, &:focus
				.hotarea
					color bg-color !important
					background-color primary-color-light !important

		.border-green
			.hotarea
				border-color primary-color-light !important

		.border-green-lighter
			.hotarea
				border-color lighten(primary-color-light, 5%) !important

			// Gold
		.gold
			color second-color

		.bg-gold
			&, .white
				color rgba(second-color-text, 0.87) !important
			.hotarea
				background-color second-color !important
			&:hover, &:focus
				.hotarea
					background-color  lighten(second-color, 4%) !important

		.border-gold
			.hotarea
				border-color second-color

			// Grey
		.grey
			color rgba(text-color, 0.6)

		.grey-light
			color rgba(text-color, 0.38)

		.grey-dark
			color rgba(text-color, 0.87)

		.grey-darker
			color text-color

		.bg-grey
			.hotarea
				background-color lighten(bg-color, 5%)

		.bg-grey-lighter:not(article)
			&:not(.container), & .hotarea
				background-color lighten(bg-color, 7%) !important
			&:hover, &:focus
				.hotarea
					background-color lighten(lighten(bg-color, 7%), 4%) !important
			&:not(.disabled):not(.container)
				&:hover, &:focus
					background-color lighten(lighten(bg-color, 7%), 4%) !important

		.bg-active-grey-lighter
			&:hover, &:focus
				.hotarea
					background-color lighten(lighten(bg-color, 7%), 4%) !important
			&:not(.disabled):not(.container)
				&:hover, &:focus
					background-color lighten(lighten(bg-color, 7%), 4%) !important

		.bg-active-grey-lighter-active
			&:hover, &:focus
				.hotarea
					background-color lighten(lighten(bg-color, 7%), 5%) !important

		.border-grey
			.hotarea
				border-color lighten(bg-color, 5%)

		.border-grey-light
			.hotarea
				border-color lighten(bg-color, 6%)

		.border-grey-lighter
			.hotarea
				border-color lighten(bg-color, 7%)

			// White
		.white
			color bg-color

		.text-active-white
			&:hover, &:focus
				color bg-color !important

		.bg-white
			background-color rgba(0,0,0,0) !important
			&:not(.disabled):not(.container)
				&:hover, &:focus
					background-color rgba(#fff, 4%) !important

		.border-white
			.hotarea
				border-color rgba(#fff, 87%)

			// Red
		.red
			color rgb(200, 92, 65)

		.text-red
			color rgb(200, 92, 65)

		.bg-red
			.hotarea
				background-color rgb(200, 92, 65)

		.bg-active-red:hover .hotarea, .bg-active-red:focus .hotarea
			background-color rgb(200, 92, 65)

		.border-red
			.hotarea
				border-color rgb(200, 92, 65)

		// Custom components in Matters

			// Links
		.u-link-green
		    &, &:link, &:visited
			    color primary-color
		    &:hover, &:active, &:focus
		    	color lighten(primary-color, 4%)

			// Tooltop pop-up
		.tippy-tooltip
			&, &.dropdown-theme, &.tooltip-theme
			    color rgba(text-color, 0.87) !important
				background-color lighten(bg-color, 5%) !important
			&[data-placement^="top"]
				.tippy-arrow
					border-top-color rgba(text-color, 0.87)
			&[data-placement^="bottom"]
				.tippy-arrow
					border-bottom-color rgba(text-color, 0.87)
			&[data-placement^="left"]
				.tippy-arrow
					border-left-color rgba(text-color, 0.87)
			&[data-placement^="right"]
				.tippy-arrow
					border-right-color rgba(text-color, 0.87)

		.unread-icon
			&::after
				background-color primary-color-light !important

		.avatar
			background-color lighten(bg-color, 7%) !important

		.description
			color rgba(text-color, .6) !important

		.cover
		    background-color lighten(bg-color, 7%) !important

		.score
			color rgba(text-color, 0.38) !important

		.username
			color rgba(text-color, .6) !important

		.displayname
			.name-color-black &
				color rgba(text-color, .87) !important

			.name-color-white &
				color rgba(bg-color, .87) !important

			.name-color-grey-darker &
				color rgba(text-color, .6) !important

		.switch input + span
			background-color darken(#fff, .6) !important
			&::after
				background-color darken(#fff, .13) !important
			&::before
				background-color primary-color !important

		.empty
			color rgba(text-color, 0.38) !important

		.error-code
			color rgba(text-color, 0.6) !important

		.error-message
			color rgba(text-color, 0.6) !important

		.error-detail
			color rgb(200, 92, 65)
			background-color lighten(bg-color, 3%)
			border-color rgb(200, 92, 65)

		// Layout

		header
		    border-bottom-color rgba(text-color, 0.08) !important
			&.solid-fixed
				border-bottom-color rgba(text-color, .08) !important
				background-color bg-color !important
			&.left, &.right 
				.published-article
		    		color rgba(text-color, .6)
		    &.hasNoBorder
		        border medium none !important

		@media (min-width: 768px)
		    article
		        border-left-color rgba(text-color, 0.08) !important
		        border-right-color rgba(text-color, 0.08) !important
		        &.bg-grey-lighter
		            background-color bg-color !important

		aside
		    border-left-color rgba(text-color, 0.08) !important
		    border-right-color rgba(text-color, 0.08) !important

		@media (min-width: 1280px)
		    aside
		        border-left medium none !important
		        border-right medium none !important

		.nav-bar
			border-top-color rgba(text-color, 0.08) !important
			background-color bg-color !important

		.toolbar
			border-top-color rgba(text-color, 0.08) !important
			background-color bg-color !important

		.toolbar-items, .toolbar-toggle-button svg
			background-color lighten(bg-color, 4%) !important
			g
				stroke rgba(text-color, .6) !important

		footer
			color rgba(text-color, 0.38) !important
			.copyright
				color rgba(text-color, 0.12) !important


		// Misc

		.inactive-state
		    color bg-color
		    background-color lighten(bg-color, .3)

		.list.has-border > .list-item
		    border-bottom-color rgba(text-color, 0.08) !important

		#nprogress .bar
			background-color primary-color-light !important

		.list .count
			color rgba(text-color, .6) !important

		.inline
			background-color rgba(text-color, .05) !important
			&:hover, &:focus
				background-color rgba(primary-color-light, .20) !important
			&.active
				background-color rgba(primary-color-light, .12) !important
				&:hover, &:focus
					background-color rgba(text-color, .07) !important

		.editor-title
			input
				&::-webkit-input-placeholder,
				&::placeholder
					color rgba(text-color, .6) !important

		.u-content, #editor-article-container .ql-editor 
			figure
				figcaption
					color rgba(text-color, .6) !important
				&.audio .player
					background-color bg-color !important
					border-color rgba(text-color, 0.08) !important
					header .time
						color rgba(text-color, .6) !important
					footer .progress-bar > span
						background-color primary-color-light
				&[class*="embed"] > .iframe-container
					background-color lighten(bg-color, 7%) !important
			blockquote::before
				background-color second-color-dark !important
			a
				color primary-color-light !important
				&:hover, &:active, &:focus
					color lighten(primary-color-light, 10%) !important
			hr
				border-color rgba(text-color, 0.24) currentcolor !important

		.mention-container
			color rgba(text-color, .6) !important
			background-color bg-color !important

		.count
			color primary-color-light !important


		button.appreciate-button
			background-color bg-color !important
			border-color primary-color-light !important
			color primary-color-light !important
			&:hover, &:focus
				background-color lighten(bg-color, 4%) !important

		.received-count
			color rgba(text-color, .6) !important
			&.highlight
				color primary-color-light !important

		.avatar-list
			> *
				box-shadow 0 0 0 2px rgba(text-color, .87) !important
			.appreciator-count
				color rgba(text-color, .87) !important
				background-color primary-color-dark !important

		.latest-responses-switch
			color rgba(text-color, .6) !important

		.recent-searches ul li
			.key
				color rgba(text-color, 0.6) !important
				background-color lighten(lighten(bg-color, 7%), 5%) !important
				&:hover, &:focus
					background-color lighten(lighten(lighten(bg-color, 7%), 5%), 4%) !important

		.frequent-searches
			.key
				color primary-color-light !important
		
		.aggregate-section
			background-color bg-color !important
		
		article .user-profile
			&, & ~ div .list
				footer
					color rgba(text-color, .6) !important
					.count
						color rgba(text-color, .87) !important
			~ nav
				border-bottom-color rgba(text-color, 0.08) !important
				&::after
					background-image none !important
				li
					color rgba(text-color, .6) !important
					&:hover, &:focus, &[aria-selected="true"]
						color rgba(text-color, .87) !important
					&[aria-selected="true"] .content
						border-bottom-color rgba(text-color, .87) !important
			~ .info
				.num
					color rgba(text-color, .87) !important
				&, .username
					color rgba(text-color, .6) !important
				.description
					color rgba(text-color, .6) !important


@-moz-document regexp("https:\/\/matters\.news\/@.+\/((?!comments|followe[re]s).+)")
	// 自創佈局
	// Focus Matters style
	if layoutChange == focusMatters
		@media (min-width: 1280px)
			#__next > main
				// 隱藏導航欄與側邊欄，滑鼠置於空白位置時浮現
				// Hide nav and aside with revealing with hover
				& > aside, & > nav
					opacity 0
					transition opacity .25s
					transition-time-function cubic-bezier(0.4, 0.0, 1, 1)
					&:hover, &:focus-within
						opacity 1
						transition opacity .3s
						transition-time-function cubic-bezier(0.0, 0.0, 0.2, 1)
				// 內縮右移側邊欄
				// Hide aside in the right
				& > aside
					max-width 16rem
					flex-basis 16rem
					position fixed
					right 0
					padding 2rem 1rem
					height 100%
					z-index 150 !important
					transform translateX(40%) !important
					transition opacity .25s, transform .25s
					// 暗黑模式
					// Dark Mode
					if darkModeLook
						background-color bg-color
						border-left 1px solid rgba(text-color,0.08) !important
					else
						background-color #fff
						border-left 1px solid rgba(#000,0.08) !important
					& > *
						width 14rem
						flex-basis 14rem
					&:hover, &:focus-within
						transform translateX(0) !important
						transition opacity .3s, transform .3s
				// 擴大內容區域
				// Extend content area more
				& > article
					max-width calc(100% - 20rem) !important
					flex-basis calc(100% - 20rem) !important
